@import "tailwindcss";

@theme {
  --animate-blob: blob 7s infinite;
  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background-color: #0f172a;
  /* slate-900 as fallback */
  color: #f8fafc;
  /* slate-50 */
  overflow-x: hidden;
}

.glass-panel {
  @apply bg-slate-800/40 backdrop-blur-xl border border-slate-700/50 shadow-2xl;
}